body{
    background: #BDBDBD;
}

.Caja{
    display: flex;
    justify-content: space-between;
}

#imagenes img{
    background-color: grey;
}

#TituloEnpie{
    color: aqua;
}

.texto_centro{
    position: absolute;
    top: 46%;
    left: 45%;
}